<div class="jumbotron">
  <%= form_for(@type_sound) do |f| %>
  <% if @type_sound.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_sound.errors.count, "error") %> prohibited this type_sound from being saved:</h2>

      <ul>
      <% @type_sound.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre , class:'form-control' , required:true %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar', class:'btn btn-default btn-lg btn-block' %>
  </div>
<% end %>

</div>