<div class="jumbotron">
  <%= form_for(@dash) do |f| %>
  <% if @dash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dash.errors.count, "error") %> prohibited this dash from being saved:</h2>

      <ul>
      <% @dash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo , class:'form-control' , required:true %>
  </div>
  <div class="field">
    <%= f.label :persona %><br>
    <%= f.text_field :persona, class:'form-control' , required:true %>
  </div>

  <% if @ver == true %>
   <div class="field">
    <%= f.label :imagen %><br>
    <%= f.file_field :imagen , class:'form-control'%>
  </div>
   
  <% else %>
  
  <div class="field">
    <%= f.label :imagen %><br>
    <%= f.file_field :imagen , class:'form-control', required:true%>
  </div>
  <% end %>
  
  
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion, class:'form-control' , required:true %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Guardar', class:'btn btn-default btn-lg btn-block' %>
  </div>
<% end %>

</div>